@font-face{
    font-family:"Bariol";
    src:url("fonts/bariol.ttf");
}
@font-face{
    font-family:"Bariolthin";
    src:url("fonts/Bariolthin1.ttf");
}
@font-face{
    font-family:"Cooper";
    src:url("fonts/cooperm.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(#ffffff, #b34ef6);
    min-height: 100vh;
}

/* HEADER */
h1{
    float: left;
    margin-left: 10px;
    font-family: Bariol;
    clear: both;

}
h1 a{
    text-decoration: none;
}
h1 a:visited~{
    color: black;
}
h1 a:hover{
    color: plum;
}
nav{
    float: right;
    margin-top: 10px;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: Bariolthin;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:visited{
    color: black;
}
nav ul li a:hover{
    color: plum;
}

.apply{
    clear: both;
    padding-top: 50px;
    padding: 50px;
    text-align: center;
    font-family: Cooper;
}
svg{
    width: 25%;
    height: 25%;
}
.svg{
    margin-left: 200px;
}
#BBQ{
    animation-name: BBQ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes BBQ{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}

